@font-face {
  font-family: Proxima Nova;
  src: url(Fonts/Demo_Fonts/Fontspring-DEMO-proximanova-black.otf) format(onetrueformat);
}
@font-face {
  font-family: Averta Demo;
  src: url(Fonts/FontsFree-Net-AvertaDemoPECuttedDemo-Regular.ttf) format(truetype);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  text-align: left;
  padding: 20px 0;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header span {
  font-weight: 300;
}
header ul {
  list-style: none;
  display: flex;
}
header ul li {
  margin-right: 20px;
  color: black;
}
header ul li a {
  font-family: "Averta Demo", sans-serif;
  text-decoration: none;
  color: black;
  transition: border-bottom 0.3s ease-in-out;
  position: relative;
}
header ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; /* Adjust the underline height as needed */
  background: rgb(26, 114, 245);
  transition: width 0.3s ease-in-out;
}
header ul li a:hover {
  color: rgb(26, 114, 245);
}
header ul li a:hover::before {
  width: 100%; /* Expand the underline to 100% width on hover */
}
header h1 {
  font-family: "Proxima Nova", sans-serif;
}